@let source = dataSource(); @if (source) {
<table mat-table [dataSource]="source" class="mat-elevation-z1">
  @for (column of columns; track column.propertyName) {
  <ng-container [matColumnDef]="column.propertyName">
    <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
    <td
      class="cell"
      mat-cell
      *matCellDef="let element"
      (click)="
        editCell({
          periodicElement: element,
          propertyName: column.propertyName,
          header: column.header
        })
      ">
      @let value=element[column.propertyName];

      <span class="line-clamp-1" [title]="value">{{ value }}</span>
    </td>
  </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
} @else {
<div class="spinner-wrapper">
  <mat-spinner />
</div>
}
